#
# requirements-dev.txt for phoebe project
# Copyright (c) 2017-2019 Jarosław Stańczyk <jaroslaw.stanczyk@upwr.edu.pl>
#

# prerequisites for development:
# 	virtualenv (sudo pip install virtualenv)
#
# virtualenv .venv
# 	. .venv/bin/activate
# 	...
# 	deactivate

-r requirements.txt

# static code analysis
flake8>=3.3.0
pylama>=7.3.3
pylint>=1.7.1

# unittests
freezegun>=0.3.12
mock>=3.0.5
pytest>=5.1.0

# eof.
