#
# requirements.txt for phoebe project
# Copyright (c) 2017-2018 Jarosław Stańczyk <jaroslaw.stanczyk@upwr.edu.pl>
#

# prerequisites:
# - pip (sudo apt-get install python-pip)
#
# and then
# sudo pip install -r requirements.txt
#
# package version:
# pip show pyyaml
#   or
# pip freeze | grep pyyaml

docopt>=0.6.2
pyyaml>=3.10

# eof.
